
body {
  box-sizing: border-box;
}

header {
    background: #fff;
    height: 100px;;
    
  }

  header {
    width: 901px;
    /* outline: dotted 1px red; */
    margin: 0 auto;
  }

  .clearfix {
    clear: both;
  }

 .logo {
    width: 55px;
    float: left;
    /* margin-right: 30px; */
    margin-top: 15px;
 }

 .logo-title {
     display: inline-block;
     width: 200px;
     margin-left: 10px;
     margin-top: 20px;
 }

 header h2 {
     font-family: 'Marck Script', cursive;
     font-size: 45px;
 }

 header p {
     text-transform: uppercase;
     font-size: 10px;
 }

.second-ul {
    display: inline-block;
    margin-top: -50px;
    float: right;
}

span {
    margin-left: 10px;
}

 header li {
    display: inline-block;

 }

  main {
    width: 901px;
    margin: 0 auto;
  }

  .pattern {
      background-image: repeating-linear-gradient(45deg, #fff, #ccc 2px, #dbdbdb 2px, #fff 4px);
      min-height: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  main h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 55px;
  }

  .publish-date {
    opacity: 0.5;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .print {
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -10px;
    float: right;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .li-text {
    display: inline-block;
  }

  .paragraphs {
    text-indent: 15px;
  }

  #pizza {
    margin-top: 30px;
  }

  .ingrediants {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 10;
    margin-bottom: 30px;
  }

  .ul-first {
  position: absolute;
  margin-top: -54px;
  float: left;
  top: 100px;
  left: 70px;
  z-index: 20;
  }

  .ul-first li {
    margin-bottom: 13px; 
  }

  .ul-second {
  position: absolute;
  margin-top: -54px;
  top: 100px;
  left: 500px;
  z-index: 20;
  }

  .ul-second li {
    margin-bottom: 13px;
  }

  .vanessa img {
    float: left;
    padding-right: 25px;
  }

  .vanessa h2 {
    font-size: 20px;
    display: inline-block;
  }

  .vanessa p {
    display: inline-block;
    overflow: hidden;
    padding-bottom: 80px; 
  }

  button {
    border: none;
    background: #D2691E;
    color: #fff;
    padding: 10px 20px;
    transition: 350ms all;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    float: right;
    margin-top: -20px;
  }

  footer img {
    position:relative; 
    top:0;
    left:50%;
    margin-left:-55px;
  }

  .p-one {
    opacity: 0.5;
    left: 50%;
    margin-left: 735px;
    padding: 5px;
  }

  .p-two {
    opacity: 0.5;
    left: 50%;
    margin-left: 745px;
    padding: 5px;
  }

  hr {
    border:none;
    border: 1px solid #d7d7d7;
    width: 901px;
  }

  .hr { 
    text-align: center;
  }

  .hr img {
    position: relative;
    top: -25px;
    background:white;
    padding:0 5px;
    margin-left: -1690px;
  }
